* {
  padding: 0;
  margin: 0;
}
html {
  overflow-y: scroll;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
body {
  overflow-x: scroll;
  width: 3000px;
}
body.dark-theme {
  background-color: #0b0e13;
  color: #fff;
}
body.light-theme {
  background-color: #d5dbe5;
  color: rgb(15, 15, 15);
}

body.light-theme #poem-prompt {
  color: rgb(57, 71, 96);
}
body.dark-theme #poem-prompt {
  color: rgb(159, 173, 198);
}

body.light-theme #poem-input {
  color: rgb(57, 71, 96);
}
body.dark-theme #poem-input {
  color: rgb(159, 173, 198);
}

/* beginning of header css */
header.light-theme {
  background-color: #0b0e13;
  color: #fff;
  width: 1200px;
  height: 113px;
}
header.dark-theme {
  background-color: #d5dbe5;
  color: rgb(15, 15, 15);
  width: 1200px;
  height: 113px;
}
#home {
  width: 1200px;
  height: 113px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* #60759f and #394760 compliment each other with 
this background as text colors */

#title {
  color: #9FADC6;
  margin-left: -10px;
  margin-top: 10px;
  width: 100px;
  text-align: right;
}
#logo {
  margin-left: 50px;
  margin-top: 65px;
}
.logo-click {
  cursor: pointer;
}
.title {
  overflow-wrap: break-word;
}
#menu-bar {
  display: flex;
  align-items: center;
}
.menu-bar-buttons {
  padding: 0 20px;
  box-sizing: border-box;
}
#pref {
  display: flex;
  align-items: center;
}
#theme-toggle-div, #profile-div {
  padding: 0 20px;
  box-sizing: border-box;
}

#theme-toggle {
  margin-top: 20px;
}
#theme-image {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
}
#profile-div {
  position: relative;
  display: inline-block;
  margin-top: -50px;
}
.dropdown-content {
  position: absolute;
  z-index: auto;
}

#dropdown-items {
  display: none;
  background-color: #f9f9f9;
  max-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.dropdown-items a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-items a:hover {
  background-color: #f1f1f1;
}

#profile-photo {
  width: 70px; /* Adjust the width as needed */
  cursor: pointer;
}
/* end of header css */

/* beginning of poem css */
#poem-wrapper {
  width: 1200px;
  height: 600px;
}
#poem-container {
    margin-top: 150px;
    margin-left: 50px;
    display: inline-block;
    float: left;
}
#poem-prompt {
    width: 1000px;
    height: 115px;
    margin-top: -100px;
    border: none; 
    background-color: transparent;   
    font-size: 25px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; 
    line-height: 1.5; 
    letter-spacing: 1px;
} 
#enter-poem { /* div */
  width: 1000px;
  height: auto;
  color: #394760;
  background-color: transparent; 
  font-size: 25px; 
  font-family: 'Times New Roman', Times, serif;
  outline: none; 
  line-height: 1.5; 
  letter-spacing: 1px;
}
#poem-div {
  height: auto;
  width: 1000px;
}
/* free poem textarea */
#poem-input {
    width: 1000px;
    height: 300px;
    margin-top: 50px;
    white-space: pre-wrap;
    resize: none;
    border: none; 
    background-color: transparent; 
    color: #9FADC6; 
    font-size: 35px; 
    font-family: 'Times New Roman', Times, serif;
    outline: none; 
    line-height: 1.5; 
    letter-spacing: 1px;
}
/* changes the font of the placeholder */
#poem-input::placeholder {
    font-family: 'Times New Roman', Times, serif;
    color: #8692a6; 
}
#poem-input::-webkit-input-placeholder {
    font-family: 'Times New Roman', Times, serif;
    color: #8692a6; 
  }
  #poem-input::-moz-placeholder {
    font-family: 'Times New Roman', Times, serif;
    color: #8692a6; 
  }
  #poem-input:-ms-input-placeholder {
    font-family: 'Times New Roman', Times, serif;
    color: #8692a6; 
  }
#poem-input::-webkit-scrollbar.dark-theme {
    width: 5px;
    background-color: #0b0e13;
    border-radius: 10px;
  }
  /* fallbacks for other browser types */
  
  #poem-input::-webkit-scrollbar-thumb.dark-theme {
    background-color: #000000;
    border-radius: 10px;
  }
  #poem-input::-webkit-scrollbar.light-theme {
    width: 5px;
    background-color: #eceae1;
    border-radius: 10px;
  }
  /* fallbacks for other browser types */
  
  #poem-input::-webkit-scrollbar-thumb.light-theme {
    background-color: #eceae1;
    border-radius: 10px;
  }
  #submit-container {
    width: 40px;
    float: right;
    height: 40px;
    margin-bottom: -20px;
    margin-left: 40px;
  }
  #submit-img {
    width: 40px;
    height: 40px;
    max-width: 100%;
  }

  .tooltip {
    position: fixed;
    display: none;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  #submit-container, #submit-button, #new-prompt-container, #new-prompt-butt {
    position: relative;
  }
  
  #submit-container:hover .tooltip, #new-prompt-container:hover .tooltip {
    display: block;
  }
  #new-prompt-container {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 15px;
  }
  #new-prompt-butt {
    width: 200px;
    height: 200px;
    max-width: 100%;
  }
  #new-prompt-button {
    width: 40px;
    height: 40px;
    max-width: 100%;
  }
  
  .tooltip2 {
    position: absolute;
    display: none;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    width: 90px;
    left: -20px;
  }
  
  #new-prompt-container:hover .tooltip2 {
    display: flex;
  }
  
  #new-prompt-container, #new-prompt-butt {
    position: relative;
  }
  #poem-of-the-day-container {
    width: 40px;
    height: 40px;
    padding: 20px;
    margin-top: 6px;
    color:#fff;
    text-align: center;
  }
  #poem-of-the-day-button {
    width: 40px;
    height: 40px;
    max-width: 100%;
    
  }
  .tooltip3 {
    position: absolute;
    display: none;
    background-color: #000;
    color: fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }

  #poem-of-the-day-container:hover .tooltip3 {
    display: flex;
  }
  #poem-of-the-day-container:hover {
    cursor: pointer;
  }
  #poem-of-the-day-container, #poem-of-the-day {
    position: relative;
  }
  
  #refresh {
    width: auto;
    height: auto;
    display: flex;
    margin-top: 10px;
    margin-left: 400px;
}
/* for new prompt button */
  #new-prompt-button {
    font-size: 16px;
    padding: 10px;
    flex-direction: row;
  }
  #new-prompt-button:hover {
    cursor: pointer;
  }
body.dark-theme #title {
  color: #566b8e;
}
body.dark-theme #poem-input::placeholder {
  color: #566b8e;
}
body.dark-theme #poem-input::-webkit-input-placeholder {
  color: #566b8e;
}
body.dark-theme #poem-input::-moz-placeholder {
  color: #566b8e;
}
body.dark-theme #poem-input:-ms-input-placeholder {
  color: #566b8e;
}
/* just bothering me, mess with this later
@media only screen and (max-width: 768px) {
  #poem-wrapper {
    width: 100%;
  }
  #poem-container {
    margin: 0;
    display: block;
  }
  #poem-prompt {
    width: 100%;
  }
  #enter-poem {
    width: 100%;
  }
  #poem-div {
    width: 100%;
  }
  #poem-input {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  /*
  #logo {
    float: none;
    display: block;
    margin: auto;
  }
  .menu-bar-buttons {
    float: none;
    display: block;
    margin: auto;
    text-align: center;
  }
  #pref {
    float: none;
    display: block;
    margin: auto;
  }
}
*/






  